@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700;900&display=swap');

:root{
    --primary-blue: #393993;
    --secondary-blue: #5050a5;
    --light-blue: #a0a0d1;
    --primary-orange: #c46820;
    --secondary-orange: #d87223;
    --light-orange: #ee7d26;
    --macaroni: #f7be93;
    --glass-blue: rgba(57,57,147,0.25);

    --primary-blue-t: rgba(57, 57, 147, 0.75)
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
